#outerContainer{
  position: relative;
}

#video_container{
    height: screen.height;
    width: screen.width;
}
#slider{
  position: absolute;
  top: 55%;
  left: 10%;
  height: 40%;
  width: 80%;
  z-index: 1;
  background-color: white;
  color: white;
  opacity: 0.8;
  margin: 0 auto;
  border-radius: 20px;
}

#slider_inner{
  position: relative;
  top: 5%;
  /* left:2s%; */
  height: 80%;
  width: 82%;
  margin: 0 auto;
}
/* #rest-of-page{
  height: 100px;
  width: 500px;
  border: solid 1px gray;
} */

/* #slider_1_container {
  position: relative;
  left:20%;

} */

#slider_1 {
  /* left: 100%; */
  height: 100%;
  width: 85%;
  transform: rotateY(180deg);
}

#slider_1_val {
  background-color: white;
  color: black;
}

#slider_2 {
  /* left: 100%; */
  height: 100%;
  width: 90%;
}
#slider_2_val {
  background-color: white;
  color: black;
}

#slider_3 {
  /* left: 100%; */
  height: 100%;
  width: 90%;
}
#slider_3_val {
  background-color: white;
  color: black;
}

#slider_4 {
  /* left: 100%; */
  height: 100%;
  width: 90%;
}
#slider_4_val {
  background-color: white;
  color: black;
}

#slider_5 {
  /* left: 100%; */
  height: 100%;
  width: 90%;
}
#slider_5_val {
  background-color: white;
  color: black;
}

#slider_6 {
  /* left: 100%; */
  height: 100%;
  width: 90%;
}
#slider_6_val {
  background-color: white;
  color: black;
}



#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:100%;
  height:100%;
}

/*
#slider_base {
  position: relative;
  width: 100%;
} */






/*
#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#canvas {
  display:none;
}

.camera {
  width: 340px;
  display:inline-block;
}

.output {
  width: 340px;
  display:inline-block;
  vertical-align: top;
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}


#ex1Slider .slider-selection {
	background: #BABABA;
} */

/* .screenshot-image {
    width: 150px;
    height: 90px;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 5px;
    left: 10px;
    background: white;
}

.display-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 5% auto;
    position: relative;
}

video {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.video-options {
    position: absolute;
    left: 20px;
    top: 30px;
}

.controls {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
}

.controls > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
}

.controls > button:hover svg {
    color: white !important;
}

@media (min-width: 300px) and (max-width: 400px) {
    .controls {
        flex-direction: column;
    }

    .controls button {
        margin: 5px 0 !important;
    }
}

.controls > button > svg {
    height: 20px;
    width: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.controls button:nth-child(1) {
    border: 2px solid #D2002E;
}

.controls button:nth-child(1) svg {
    color: #D2002E;
}

.controls button:nth-child(2) {
    border: 2px solid #008496;
}

.controls button:nth-child(2) svg {
    color: #008496;
}

.controls button:nth-child(3) {
    border: 2px solid #00B541;
}

.controls button:nth-child(3) svg {
    color: #00B541;
}

.controls > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
}

.controls > button:hover svg {
    color: white;
} */
